{
  "presets": [
   
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel-plugin-styled-components",
    "@babel/plugin-proposal-optional-chaining",
    "babel-plugin-styled-components",
     "@babel/plugin-proposal-private-property-in-object",
    "transform-class-properties", 
    "transform-react-jsx",
    "@babel/plugin-proposal-nullish-coalescing-operator",
    "@babel/proposal-class-properties",
    "@babel/plugin-proposal-logical-assignment-operators",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "syntax-dynamic-import",
    ["lodash"],
    ["import", {
      "libraryName": "antd",
      "style": true
    }],
    ["module-resolver", {
          "root": ["./src/app", "./src/imports/", "./src/","./src/components/","./src/assets"]
    }]
  ]
}
