* {
  padding: 0;
  margin: 0;
  font-family: "Droid Arabic Kufi";
  font-size: 16px;
}

.ant-steps-item {
  flex: 1 !important;
}

.ant-select-selection:hover .ant-select-selection__clear {
  opacity: 0 !important;
}

@font-face {
  font-family: "Droid Arabic Kufi";
  /* src: url('../fonts/DroidKufi-Regular.woff'); */
  src: url("../fonts/DroidKufi-Regular.ttf");
}

body {
  overflow: hidden;
  height: 100vh;
  font-size: 21px;
}

html,
body {
  height: 100%;
  font-family: "Droid Arabic Kufi" !important;
  overflow-x: hidden;
  background: url(../images/00.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}

.fontDroid {
  font-family: "Droid Arabic Kufi" !important;
}

.error {
  color: red !important;
  text-align: center;
}

.disableLabel {
  color: gray;
}

.main-layout {
  display: grid;
  grid-template-rows: 9vh 90vh;
  width: 100%;
  grid-gap: 10px;
  direction: rtl;
  overflow-y: hidden;
  overflow-x: hidden;
  background: url(../images/background.png);
  background-size: cover;
}

.content-layout {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* Antd Start customize*/

.ant-select-selection--single {
  min-width: 350px !important;
}

.has-error.has-feedback .ant-form-item-children-icon {
  left: -28px !important;
}

/* .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  background: #1f468a !important;
  color: #fff !important;
} */
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  /* padding: 0 60px!important; */
  height: auto !important;
  padding: 0 35px !important;
  border: none !important;
  color: #fff;
}

.ant-tabs-nav .ant-tabs-tab {
  /* background: #016a3f !important; */
  background: transparent !important;
  color: #000 !important;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  /* background-color: #f3f9eb!important; */
  text-align: right !important;
}

.has-error.has-feedback .ant-form-item-children-icon {
  right: auto !important;
}

.ant-form-item-label {
  width: 100%;
}

.ant-tabs-bar {
  /* border-bottom: 2px solid #016a3f!important; */
}

/* Antd End customize*/
.loading {
  position: absolute;
  top: 0%;
  z-index: 1;
  overflow: hidden;
  height: 98vh;
  width: 97vw;
  left: 1%;
  background: #51575d33;
  margin: auto;
  justify-content: center;
  align-content: center;
  display: grid;
}

.hjiry-style {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  direction: ltr;
}

.btn-archive {
  grid-column: 1/3;
  width: 10%;
  justify-self: flex-end;
}

.gantt-container {
  height: 50vh;
  margin-top: 10vh;
}

.table-content .ant-table-body {
  max-height: 76vh;
  height: auto;
}

.Collapse .ant-collapse-header {
  background: #058fa5;
  color: #fff !important;
  color: #fff !important;
  padding: 10px !important;
}

.ant-layout-sider {
  height: auto !important;
  background: #016a3f !important;
  min-height: 85vh;
}

.ant-menu-dark {
  background: #016a3f !important;
}

.Collapse .ant-collapse-header {
  background: #058fa5;
  color: #fff !important;
  text-align: center;
  font-size: larger;
  padding: 10px !important;
}

.ant-layout-sider {
  height: auto !important;
  min-height: 85vh;
  background: #0b6371 !important;
}

.ant-menu-dark {
  background: #016a3f !important;
}

.ant-menu-item > span {
  position: absolute;
  padding-right: 6px;
}

.anticon[tabindex] {
  /* width: 100%;
    height: 3vh;
    display: grid;
    justify-content: center;
    align-content: center;
    position: absolute;
    bottom: 1%; */
}

.autoCad-button {
  justify-self: flex-end;
  margin-left: 10%;
  background: #01bde0 !important;
  color: #fff !important;
}

.new_submission {
  justify-self: flex-end;
}

/*Select */
.ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
  color: #000 !important;
  right: 9px !important;
  left: auto !important;
}

.ant-select-selection {
  /* background:#afafb0!important */
}

.ant-select-arrow {
  left: 2px !important;
  right: auto !important;
  /* color: #fff!important; */
}

.ant-select-search--inline .ant-select-search__field {
  color: #000;
  /* margin-right: 15px; */
}

.ant-steps-item-title::after {
  display: none !important;
}

.header-title {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 10vh;
}

._2MJoiMCjpMG2C36sM19rwU {
  width: 30%;
  color: #fff;
  padding: 10px;
  background: #016a3f;
  margin: 1% auto;
  border-radius: 7px;
}

._2MJoiMCjpMG2C36sM19rwU > form {
  direction: rtl;
  display: grid;
  grid-template-rows: 90px 100px 40px;
}

.ant-form label {
  /* color: #fff!important; */
}

.login-button {
  display: grid;
  justify-content: center;
  position: relative;
  width: auto;
  justify-self: flex-end;
  background-color: #04482c !important;
  border-color: #016a3f !important;
}

.login-button:hover {
  background-color: #13d686 !important;
}

.header-layout {
  display: grid;
  grid-template-columns: 0 3fr 6fr 3fr;
  margin: 0;
  justify-content: center;
  width: 100%;
  justify-items: center;
}

._3EIUEHiJY-Y1_cp34QBBWk {
  background: transparent !important;
}

@media only screen and (max-width: 1000px) {
  .header-title > h1 {
    font-size: 18px;
  }
}

.ant-select-selection-selected-value {
  float: right !important;
  color: #000;
}

form .ant-select,
form .ant-cascader-picker {
  /* width: auto!important; */
}

.ant-form-item {
  /* display: grid!important;
    grid-template-columns: 0 auto 1fr; */
}

.ant-form-item-control-wrapper {
  /* width: 85vw; */
}

.has-error .ant-form-explain,
.has-error .ant-form-split {
  text-align: center;
}

.ant-collapse-content {
  background-color: #fff !important;
}

.wizard-input {
  display: flex;
}

.ant-input-number {
  width: 100% !important;
  text-align: right !important;
  display: block !important;
}

.ant-steps {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 0 !important;
}

.next {
  background: #016a3f !important;
  border: none !important;
  font-weight: bold !important;
}

.prev {
  background: #ecf0f1 !important;
  border: none !important;
  color: #000 !important;
  font-weight: bold !important;
}

.saveDraft {
  background: #f1c40f !important;
  border: none !important;
}

.saveDraft:hover,
saveDraft:active {
  background: #f39c12 !important;
  border: none !important;
}

.alert {
  background: #ff9800 !important;
  border: none !important;
}

.sendSms {
  background: #673ab7 !important;
  border: none !important;
}

.saveEdits {
  background: #ff9800 !important;
  border: none !important;
}

.label_white > div > label {
  color: #fff !important;
}

.upload-section > div {
  display: grid;
  order: 2;
  justify-self: center;
  grid-template-columns: repeat(12, auto);
}

.upload-section .ant-upload.ant-upload-select-picture-card {
  order: 1;
}

.upload-section {
  display: grid;
  grid-template-columns: repeat(12, auto);
}

.wizard-input:parent {
  display: grid;
  grid-template-columns: 1fr auto;
}

.has-error {
  display: grid;
}

.ant-input-number-input {
  padding: 0 30px !important;
  text-align: right !important;
}

.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background: transparent !important;
}

td:nth-child(even) {
  background: transparent !important;
}

.modal-table,
.fixed-table {
  /* width: 93vw; */
  /* box-shadow: 0 0 1px black; */
}

.fixed-table td,
th {
  text-align: right !important;
}

td > button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.ant-tree li .ant-tree-node-content-wrapper {
  color: #fff !important;
}

.ant-tree.ant-tree-directory
  > li
  span.ant-tree-node-content-wrapper:hover::before,
.ant-tree.ant-tree-directory
  .ant-tree-child-tree
  > li
  span.ant-tree-node-content-wrapper:hover::before {
  background: #18bb78 !important;
}

.wizard-container-steps {
  background: #036777;
}

.ant-steps-item-wait > .ant-steps-item-content > .ant-steps-item-title {
  color: #fff !important;
}

.ant-steps-item-process .ant-steps-item-icon {
  border-color: #0c925c !important;
  background: #ff9800 !important;
}

.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
  color: #fff !important;
}

.ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title {
  color: #fff !important;
}

.ant-steps-horizontal:not(.ant-steps-label-vertical)
  .ant-steps-item:last-child
  .ant-steps-item-title {
  padding-right: 10px !important;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #0c945d !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: #2a2e31 !important;
}

.ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title {
  color: #fff !important;
}

.ant-modal-content {
  direction: rtl !important;
}

.ant-modal-close {
  left: 0 !important;
  right: auto !important;
}

.ant-modal-footer > div {
  display: grid;
  direction: ltr;
  grid-template-columns: 80px 80px;
  grid-gap: 10px;
}

.ant-steps-item-finish .ant-steps-item-icon {
  border-color: #0e9860 !important;
}

th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  font-weight: bold;
  /* display: table-row-group;  */
  font-weight: 700 !important;
}

.view,
.continue {
  background: #036777;
  border-color: #fff !important;
}

.view:hover {
  background: #3397a7 !important;
}

.print {
  background: #ff9800 !important;
  border-color: #fff !important;
  border: none !important;
}

.print:hover {
  background: #cc7f0f !important;
  border-color: #fff !important;
}

.delete {
  background: #ff5722 !important;
  border-color: #fff !important;
}

.ediT {
  background: #03a9f4 !important;
  border-color: #fff !important;
}

.follow {
  background: #00bcd4;
  border-color: #fff !important;
}

.follow:hover {
  background: #11808e;
  /* border-color: #fff !important; */
}

/* .ffsA > div .ant-table {
padding: 10px;
overflow: hidden;
}

*/
.grid-3 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  justify-items: center;
  justify-content: center;
}

.ant-timeline.ant-timeline-alternate
  .ant-timeline-item-left
  .ant-timeline-item-content,
.ant-timeline.ant-timeline-right
  .ant-timeline-item-left
  .ant-timeline-item-content {
  left: 5% !important;
}

.ant-timeline-item {
  font-size: 2rem !important;
}

tbody {
  /* border: 2px solid #00000052; */
}

.ant-table-tbody > tr > td {
  /* border: 2px solid #00000052; */
  text-align: right !important;
  border-bottom: 1px solid #c1b4b4 !important;
  border-right: none !important;
}

.ant-table-thead > tr > th {
  border-bottom: 1px solid #d0cccc !important;
}

.save {
  background: #11a468 !important;
  color: #fff !important;
}

.cancel {
  background: #f44336 !important;
  color: #fff !important;
  border: none !important;
}

.add-button {
  width: 10%;
  background: #0989a0 !important;
  color: #fff !important;
  display: grid;
  justify-self: flex-start;
}

.icon-color {
  color: #11a568;
}

.icon-color-red {
  color: red;
}

.ant-table-fixed-header .ant-table-scroll .ant-table-header {
  /* margin-bottom: 0px!important;
        padding-bottom: 0px!important; */
  overflow-y: hidden !important;
}

.ant-tabs-bar {
  /* margin: 0!important */
  border: none;
}

button.ant-btn.search_archive {
  justify-self: flex-start !important;
  background: #ff9800 !important;
  border-color: #fff !important;
  color: #fff !important;
  font-weight: bold;
}

.main-layout main {
  padding: 10px;
  box-shadow: 0px 0px 3px 0px #ffa423;
  overflow: auto;
  /* height: 70vh; */
}

tbody tr:nth-child(odd) {
  background: rgba(226, 226, 226, 0.97);
}

.buttonSelect .ant-select-selection {
  min-width: 135px !important;
  -webkit-appearance: button;
  background: #ff9800 !important;
  font-weight: bold;
  height: 4vh;
  align-self: flex-end;
  border-radius: 0;
  border: 1px solid;
  display: grid;
}

.searchBack > main > div {
  /* height: 80vh; */
  /* overflow-y: auto; */
}

.searchBack {
  /* max-height: 60vh; */
  /* overflow: auto; */
}

.view-search {
  background: #036777 !important;
  border-color: #fff !important;
  color: #fff !important;
}

.print-search {
  background: #2a2e31 !important;
  border-color: #fff !important;
  color: #fff !important;
}

.ant-form label {
  font-size: 16px !important;
}

.ant-table-fixed-header
  > .ant-table-content
  > .ant-table-scroll
  > .ant-table-body {
  /* height: 40vh; */
  /* max-height: initial !important; */
  overflow-y: auto !important;
}

.ant-tree-title {
  white-space: normal;
}

.label_fileUpload {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}

.ant-tree.ant-tree-directory
  > li
  span.ant-tree-node-content-wrapper.ant-tree-node-selected,
.ant-tree.ant-tree-directory
  .ant-tree-child-tree
  > li
  span.ant-tree-node-content-wrapper.ant-tree-node-selected {
  padding-right: 14px;
}

.group_of_buttons {
  display: grid;
  grid-template-columns: auto 1fr;
  direction: ltr;
  
}

.group_of_buttons .select {
  justify-self: flex-start;
}

.buttons {
  justify-self: flex-end;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, auto);
}

.stop {
  background: #f44336 !important;
  border: none !important;
}

.reject {
}

/* .send{
background-color: #9C27B0!important;
border-color:#fff!important
} */
form textarea.ant-input {
  height: 50px !important;
}

.filter {
  display: grid;
  justify-items: flex-start;
  /* width: auto; */
  justify-content: flex-start;
  /* width: auto; */
  /* direction: ltr; */
  color: #fff !important;
  /* width: 100px; */
  justify-self: flex-start;
  background-color: #1f468a !important;
}

.ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
  /* color:#fff!important */
}

.fixed-table ~ td:nth-child(even) {
  background: #fff;
}

.qqqq {
  /* height: 50vh!important; */
}

.media_resolution {
  width: 100%;
  margin: auto;
}

@media only screen and (max-width: 1600px) {
  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    padding: 0 10px !important;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1600px) {
  .media_resolution {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 700px) {
  .media_resolution {
    width: 60%;
  }
}

canvas {
  width: 400px !important;
  height: 400px !important;
  margin: auto;
}

.print-btn {
  width: 10%;
  justify-self: flex-end;
  color: #fff !important;
}

.print-btn2 {
  width: 7%;
  margin: 1%;
  justify-self: flex-end;
  color: #fff !important;
  font-size: large;
}

.navbar-header {
  display: grid;
}

.grid {
  display: grid !important;
}

.hidden-print {
  display: none !important;
}

.hidden2 {
  display: block !important;
}

.customize {
  grid-template-rows: 16vh auto;
  height: 100vh;
  break-after: page;
}

@media only print {
  * {
    -webkit-print-color-adjust: exact;

    animation: none !important;
    transition-property: none !important;
  }

  /* .table-pr {
    overflow: visible !important;
  } */

  .f-a {
    font-size: 14px;
  }

  /* .table-report-container {
    zoom: 0.7;
  } */

  .print-takrer {
    /* height: 81vh; */
    zoom: 0.8;
    overflow: visible !important;
  }

  .customize {
    grid-template-rows: 12vh auto !important;
  }

  .main-layout {
    overflow: visible !important;
    grid-template-rows: 11vh 88vh;
    background: #fff;
  }

  .ant-layout {
    background: #fff !important;
  }

  .size_table,
  .size_table td,
  .size_table tr {
    /* box-shadow: 0 0 1px black!important; */
    border: 1px solid #000 !important;
  }

  .lable-cust {
    font-weight: bold !important;
  }

  table {
    table-layout: fixed;
  }

  @page {
    /* margin: 0.7cm; */
  }

  .table-map {
    width: 100vw !important;
  }

  html,
  body {
    overflow: visible;
  }

  .print-section {
    overflow: visible !important;
    margin: 0;
    height: 20vh;
  }

  .main-layout main,
  .hidd {
    display: none;
  }

  .customize {
    grid-template-rows: auto auto;
    overflow: visible;
    break-after: always;
  }

  .hidden-print {
    display: block !important;
  }

  .hidden2 {
    display: none !important;
  }

  .main-layout main {
    box-shadow: none;
  }

  .header-layout {
    border-bottom: 3px solid #016a3f;
  }

  .customize {
    border: 1px solid #000;
    height: 100vh;
  }

  .size_table {
    width: 100% !important;
  }
}

.add-setting {
  margin: 1%;
  justify-content: flex-end;
  display: grid;
}

.add_mktab {
}

.admin_upper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 1%;
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item > a {
  padding: 0 !important;
}

.admin-delete {
  background: #ff5722 !important;
  border: none !important;
}

.admin-search {
  background: #016a3f !important;
  border: none !important;
}

.ant-layout-sider {
  width: 220px !important;
  max-width: 220px !important;
}

.header-title h1 {
  white-space: nowrap;
}

.search_admin input {
  width: 20vw !important;
}

.table-content td {
  overflow-x: auto;
  max-width: 3vw;
}

.eQUzeM {
  height: 15vh;
  overflow-y: auto;
}

/* .label_fileUpload .ant-spin-container{
       display: grid;
    grid-template-columns: repeat(12,auto);
} */
.profile {
  background: transparent !important;
  border: none !important;
  color: #fff !important;
}

.ggiNCZ,
.hgZzMk,
.ewSAdG,
.cjTAal {
  width: 25px !important;
}

.aaaaaa .ant-spin-container {
  display: grid;
  grid-template-columns: repeat(12, auto);
  justify-content: flex-start;
  grid-gap: 7px;
}

.erfCqR {
  left: 20px !important;
}

.gciUbn {
  right: 20px !important;
}

.print-section {
  height: 82vh;
  overflow-y: scroll;
  display: grid;
}

.size_table {
  width: 75vw;
  margin: auto;
  box-shadow: 0 0 1px black;
}

.size_table td {
  box-shadow: 0 0 1px black;
}

.fa-check-circle {
  color: #009688 !important;
}

.fa-times-circle {
  color: red !important;
}

.print-takrer {
  height: 81vh;
  overflow-y: scroll;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6px;
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 6px;
}

.grid2 > .first {
  border-left: 1px solid #677171;
}

.table-pr {
  height: 90vh;
  overflow-y: scroll;
}

.btnReport {
  grid-column: 1/3;
  width: 9%;
  height: 3vh;
  display: grid;
  margin: auto;
  background-color: #f0ad4e !important;
}

.reset-button {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: auto auto !important;
  grid-gap: 10px;
  justify-content: flex-end;
}

.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: rgb(255, 255, 255) !important;
}

.wizard_identify {
  display: grid;
}

.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: rgb(255, 255, 255) !important;
}

.ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: rgba(255, 255, 255, 0.52) !important;
}

.content-section {
  display: grid !important;
  grid-template-columns: 4fr 1fr !important;
  grid-gap: 10px !important;
  direction: ltr;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: rgba(204, 178, 178, 0.65) !important;
}

.ant-radio-group,
.ant-upload-picture-card-wrapper {
  display: flex !important;
}

.ant-select-dropdown-menu-item {
  text-align: right;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #dedcdc !important;
}

thead {
  background: #ffffff73;
}

/* .map .container {
  width: 100% !important;
} */
.report-two {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-content: center; */
  justify-items: center;
}

.report_two_container {
  height: 100vh;
  overflow: auto;
}

.tb_cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  justify-content: center;
  width: 99%;
  margin: auto;
  box-shadow: 0 0 1px black !important;
}

.head_tb {
  box-shadow: 0 0 1px black !important;
  padding: 10px;
  text-align: center;
}

.img_cont {
  text-align: center;
  box-shadow: 0 0 1px black !important;
}

@media print {
  .report_two_container {
    overflow: visible;
    zoom: 0.78;
  }

  * {
    font-size: 14px !important;
  }
}

.tb_notes,
.tb_tanbeh,
.tb_rsom {
  border-bottom: 1px solid;
}

.emda {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column: 1/5;
  justify-items: center;
  padding-bottom: 50px;
  margin-top: 20px;
}

.ant-select-search--inline .ant-select-search__field {
  text-align: right;
}

.titleSelectedParcel {
  background: #00726f;
  color: white;
  text-align: right;
  margin-top: 30px;
  padding: 5px;
  text-align: center;
  font-size: 20px !important;
}

.parcelInfo > div > div > span {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.ant-select-auto-complete {
  width: 100% !important;
}

.table > tbody > tr > td {
  text-align: right;
}

.add-gis {
  background: #00726f !important;
  /* float: right; */
  /* margin: 5%; */
  color: #fff !important;
}

.orange-btn {
  background: #ffa423 !important;
  float: right;
  /* margin: 5%; */
  color: #fff !important;
}

.owner_btn {
  width: auto;
  color: #fff;
  display: grid;
  background: #ff9800;
}

.add-btnT {
  background: #ffa423;
  color: #fff;
  font-size: large;
}

/* .owner_label>div{
     background: #058fa5;
     text-align: center;

} */
.owner_label > div > label {
  color: #fff !important;
  font-size: larger !important;
  background: #058fa5;
  text-align: center;
  width: 100%;
}

.owner_label > div > label::after {
  content: "" !important;
}

.tb-list table tbody tr:nth-child(odd) {
  background: transparent !important;
}

.ant-modal-body {
  border: none !important;
  text-align: right;
}

.ant-tree.ant-tree-directory > li span.ant-tree-switcher {
  color: #fff !important;
}

.ant-collapse-content > .ant-collapse-content-box {
  margin: 10px;
}

.table-div {
  border: 1px solid #ddd;
  margin: auto;
  align-items: center;
  display: grid;
  justify-content: flex-start;
  padding: 4px;
  grid-gap: 5px;
  grid-template-columns: 1fr 6fr;
  /* background: #c2bfbf; */
}

.uu:nth-child(odd) {
  background: rgba(226, 226, 226, 0.97);
}

.table-div > div > p {
  margin: 0;
}

.ant-tree.ant-tree-directory > li span.ant-tree-node-content-wrapper {
  /* display:  */
}

.ant-tree.ant-tree-directory > li span.ant-tree-node-content-wrapper > span,
.ant-tree.ant-tree-directory
  .ant-tree-child-tree
  > li
  span.ant-tree-node-content-wrapper
  > span {
  font-size: 14px;
}

.upload-button {
  width: 104px;
  height: 104px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
  vertical-align: top;
  background-color: #fafafa;
  border: 1px dashed #d9d9d9;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  display: grid;
}

.upload-button > div {
  display: table-cell;
  width: 100%;
  line-height: 1.5;
  /* height: 100%; */

  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

.ant-upload-text {
  font-size: small;
}

.file_up {
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 10px;
}

.file_up > div > img {
  height: 104px;
  grid-row: 1/2;
  justify-self: center;
  grid-column: 1;
}

.overlay-img {
  display: grid;
  grid-template-columns: auto auto;
  margin: 1%;
  grid-gap: 10px;
  opacity: 0;
  /* height: 67px; */
  grid-row: 1/3;
  grid-column: 1;
}

.overlay-img:before {
  /* background: #6a6666bf; */
}

.overlay-img:hover {
  opacity: 1;
  /* transition: 1s; */
}

.file_up > div > img:hover {
  background: rgba(0, 0, 0, 0.5);
}

.btn_up_icon {
  justify-self: center;
  align-self: center;
}

.ss {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(12, 50px);
  grid-gap: 10px;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  margin: 0;
  margin-right: 2px;
  line-height: 38px;
  border: none !important;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0 90px !important;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  border-bottom: 4px solid #ffa423 !important;
}

.ant-tabs.ant-tabs-card
  .ant-tabs-card-bar
  .ant-tabs-tab-activeو.ant-tabs-nav
  .ant-tabs-tab {
  background: transparent !important;
  color: #000 !important;
}

.ffsA {
  overflow: auto;
  height: 73vh;
}

._2DzXsv7lCbK18S0YVkgOQx > div {
  /* display: grid!important; */
  grid-template-columns: auto;
}

._2DzXsv7lCbK18S0YVkgOQx {
  height: auto !important;
}

.ant-layout {
  background: #fff !important;
}

.btn-success {
  /* background-color: #1a881e!important;
      border: navajowhite!important;
      font-weight: bold */
}



.btn-warning {
  font-weight: bold !important;
}

.cust-oi {
  text-align: right;
  padding: 10px;
}

.ant-select-selection--single .ant-select-selection__rendered {
  /* display: grid */
}

.ant-row.ant-form-item.buttonSelect .ant-select-selection__placeholder {
  color: #000;
}

.buttonSelect {
  width: 10vw;
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  text-align: right;
}

.hey .buttonSelect .ant-select-selection__rendered {
  width: 10vw;
}

.land_data .ant-select-selection__placeholder {
  color: #bfbfbf !important;
}

.btn-danger  {
  background-color: #c0392b !important;
  border-radius: 4px;
  color: #fff !important;
  cursor: pointer !important;
  font-size: 12px;
  border: none !important;
  font-size: 14px;
  /* padding: 6px; */
  margin: 3px;
}